@charset "UTF-8";
body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

figure.home-photo {
  font-family: "Michroma", regular;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 120px;
  max-width: 1250px;
  max-height: 920px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.home-photo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
figure.home-photo img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}
figure.home-photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  letter-spacing: 0.2rem;
}
figure.home-photo h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}
figure.home-photo h2 span {
  font-weight: 800;
}
figure.home-photo:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}
figure.home-photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.home-photo:hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.home-photo:hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}
figure.home-photo:hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

figure.home-photo.purple {
  background: #4a2475;
}
figure.home-photo.purple h2 {
  background: #321553;
}

figure.home-photo.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.home-photo.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}
figure.home-photo.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

.home-news h2 {
  font-family: "Michroma", regular;
}
.home-news .home-news-p-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.navbar {
  background: #000000;
}

.navbar-brand::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #462d68;
  transition: 0.5s;
}
.navbar-brand:hover::after {
  width: 100%;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #462d68;
  transition: 0.5s;
}
.nav-item:hover::after {
  width: 100%;
}

.dropdown-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #462d68;
  transition: 0.5s;
}
.dropdown-item:hover::after {
  width: 100%;
}

.dropdown-menu {
  background: #000000;
}
.dropdown-menu .dropdown-item {
  background: #000000;
}

.navbar-dark {
  font-family: "Michroma", regular;
}
.navbar-dark .navbar-nav .active .nav-link {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link.show {
  color: color-underline;
}
.navbar-dark .navbar-nav .show .nav-link {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: color-underline;
}

.footer {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distribution {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 10px "Raleway", sans-serif;
  padding: 45px 50px;
}
.footer-distribution .footer-left p {
  color: #757677;
  font-size: 14px;
  margin: 0;
}
.footer-distribution p.footer-links {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}
.footer-distribution p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}
.footer-distribution p.footer-links a:hover {
  text-decoration: underline;
}
.footer-distribution .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distribution .footer-links .link-1:before {
  content: none;
}
.footer-distribution .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distribution .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #292c2f;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
.footer-distribution .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (max-width: 600px) {
  .footer-distributed .footer-left {
    text-align: center;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
  .footer-distributed .footer-right {
    text-align: center;
    float: none;
    margin: 0 auto 20px;
  }
}
.youtube {
  width: 35px;
  height: 35px;
}

.instagram {
  width: 35px;
  height: 35px;
}

/*# sourceMappingURL=style.css.map */
