@charset "UTF-8";
body {
  padding: 0px;
  margin: 0px;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Main Section */
.mainphoto {
  font-family: "Raleway", Arial, sans-serif;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  max-width: 90%;
  max-height: 60%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(110, 63, 172, 0.2745098039);
}
.mainphoto * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.mainphoto img {
  opacity: 1;
  width: 100%;
  display: block;
}
.mainphoto figcaption {
  max-width: 50%;
  max-height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mainphoto a {
  text-decoration: none;
}
.mainphoto .bottom-left {
  justify-content: start;
  bottom: 5px;
  opacity: 0;
  left: 5px;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.mainphoto .bottom-right {
  justify-content: end;
  bottom: 5px;
  opacity: 0;
  right: 5px;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.mainphoto:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.mainphoto:hover figcaption .bottom-left {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.mainphoto:hover figcaption .bottom-right {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

figure.mainphoto.hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.mainphoto.hover figcaption .bottom-left {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
figure.mainphoto.hover figcaption .bottom-right {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

/* Btns */
.btns-main {
  letter-spacing: 0;
}

.btns-main:hover,
.btns-main:active {
  letter-spacing: 5px;
}

.btns-main:after,
.btns-main:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btns-main:hover:after,
.btns-main:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btns-main:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/* Btns End */
/* Main Section End */
/* News Section */
.home-news .news-title {
  font-family: "Michroma", regular;
  color: black;
  font-size: 25px;
}
.home-news .news-title .dae-in-text {
  animation: fadeIn 9s;
}
.home-news .home-news-p-text {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
}

#navbarNavDropdown {
  justify-content: end;
}

.navbar {
  background: #000000;
}

.navbar-brand::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #462d68;
  transition: 1s;
}
.navbar-brand:hover::before {
  width: 100%;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #462d68;
  transition: 1s;
}
.nav-item:active::after {
  width: 100%;
}

.dropdown-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #462d68;
  transition: 1s;
}
.dropdown-item:hover::after {
  width: 100%;
}

.dropdown-menu {
  background: #000000;
}
.dropdown-menu .dropdown-item {
  background: #000000;
}

.navbar-dark {
  font-family: "Michroma", regular;
}
.navbar-dark .navbar-nav .active {
  background-color: #462d68;
}
.navbar-dark .navbar-nav .active .nav-link {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link.show {
  color: color-underline;
}
.navbar-dark .navbar-nav .show .nav-link {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link:active {
  color: color-underline;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: color-underline;
}

.about-title {
  text-decoration-color: #ffffff;
  font-size: 25px;
  margin: 2.5rem 1rem;
  font-family: "Michroma", sans-serif;
}

.about-p-text {
  align-content: center;
  min-height: 65vh;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  max-width: 70%;
}

/* Music Videos */
.music-title {
  text-decoration-color: #ffffff;
  font-size: 25px;
  margin: 2.5rem 1rem;
  font-family: "Michroma", sans-serif;
}

.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin-bottom: 20px;
}
.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Dance Photo Box */
/* Dance Photo Box End */
/* Dance Videos */
.dance-videos-title {
  text-decoration-color: white;
  font-size: 25px;
  margin: 2rem 3rem;
  font-family: "Michroma", sans-serif;
}

.dance-photos-title {
  text-decoration-color: #ffffff;
  font-size: 25px;
  margin: 2rem 3rem;
  font-family: "Michroma", sans-serif;
}

.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin-bottom: 20px;
}
.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Dance Videos End */
/* Dance Photo Box */
.container {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.container a {
  text-decoration: none;
}

/* img {

    background-size: cover;
    position: relative;
    left: 25%;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
} */
.small {
  float: left;
  height: 12em;
  margin: 0.2em 1em 1em 0;
  overflow: hidden;
  width: 12em;
}
.small:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.small a img {
  margin: 220px 0 0 210px;
  padding: 6em 0 0 6em;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.lightbox:target {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  max-width: 80%;
  max-height: 80%;
}
.lightbox .lightbox a img {
  margin: 220px 0 0 210px;
  padding: 6em 0 0 6em;
}

/* Dance Photo Box End */
.upcomingEvents-title {
  text-decoration-color: #ffffff;
  font-size: 25px;
  margin: 2.5rem 1rem;
  font-family: "Michroma", sans-serif;
}

.upcomingEvents-p-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  max-width: 70%;
}

.fade-in-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  animation: fadeIn 5s;
}

.vp-size {
  min-height: 55vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  display: flex;
  font-family: "Michroma", regular;
  padding: 30px 10px;
  font-weight: 500;
  font-size: 25px;
  color: #000000;
  justify-content: flex-start;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
}

input {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: #999;
  border-radius: 4px;
}
input:focus {
  outline: 0;
}
input:focus ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}
input:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
input:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: #999;
  border-radius: 4px;
  width: 100%;
  min-height: 15em;
}
textarea:focus {
  outline: 0;
}
textarea:focus ~ label {
  font-size: 0.75em;
  color: #999;
  top: -3px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}
.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 5px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: rgba(79, 56, 112, 0.8784313725);
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.submit-btn:hover {
  transform: translateY(3px);
  color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.733), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}
.footer-distribution {
  background-color: #000000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 10px "Raleway", sans-serif;
  padding: 45px 50px;
}
.footer-distribution .footer-left p {
  color: #757677;
  font-size: 14px;
  margin: 0;
}
.footer-distribution p.footer-links {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}
.footer-distribution p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}
.footer-distribution p.footer-links a:hover {
  text-decoration: underline;
}
.footer-distribution .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distribution .footer-links .link-1:before {
  content: none;
}
.footer-distribution .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distribution .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #000000;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
.footer-distribution .footer-right a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .footer-distributed .footer-left {
    text-align: center;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
  .footer-distributed .footer-right {
    text-align: center;
    float: none;
    margin: 0 auto 20px;
  }
}
.youtube {
  width: 35px;
  height: 35px;
}

.instagram {
  width: 35px;
  height: 35px;
}

/*# sourceMappingURL=style.css.map */
