$font-family_1: 'Michroma', sans-serif;

/* Dance Videos */


.dance-videos-title {
	text-decoration-color: white; 
	font-size: 25px;
	margin: 2rem 3rem;
	font-family: $font-family_1;
}

.dance-photos-title {
	text-decoration-color: #ffffff;
	font-size: 25px;
	margin: 2rem 3rem;
	font-family: $font-family_1
}


.responsiveContent {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.2%;
	margin-bottom: 20px;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
/* Dance Videos End */

/* Dance Photo Box */

$color_1: white;

.container {
	display: block;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	a {
		text-decoration: none;
	}
}

/* img {
    
    background-size: cover;
    position: relative;
    left: 25%;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
} */


.small {
	
    float: left;
    height: 12em;
    margin: .2em 1em 1em 0;
    overflow: hidden;
    width: 12em;
	
	&:hover {
		-webkit-transform: scale(1.05, 1.05);
		transform: scale(1.05, 1.05);
	}
    a img {
            margin: 220px 0 0 210px;
            padding: 6em 0 0 6em;
            }
}
.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	&:target {
		display: -webkit-box;
		display: flex;
        justify-content: center;
        max-width: 80%;
        max-height: 80%;
        
	}
    .lightbox a img {
            margin: 220px 0 0 210px;
            padding: 6em 0 0 6em;
            }
    }



/* Dance Photo Box End */


