
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Main Section */

$color_1: white;
$color_2: #ffffff;
$font-family_1: 'Raleway', Arial, sans-serif;

	.mainphoto {
	font-family: $font-family_1;
	justify-content: center;
	object-fit: cover;
	overflow: hidden;
	max-width: 90%;
	max-height: 60%;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 0 5px #6e3fac46;
	* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	}
	img {
	opacity: 1;
	width: 100%;
	display: block;
	}
	figcaption {
	
	max-width: 50%;
    max-height: 50%;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}
	
	a {
	text-decoration: none;
	}
	.bottom-left {
	justify-content: start;
	bottom: 5px;
	opacity: 0;
	left: 5px;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	}
	.bottom-right {
	justify-content: end;
	bottom: 5px;
	opacity: 0;
	right: 5px;
	-webkit-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
	}
	&:hover {
		img {
			opacity: 0.6;
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		figcaption {
			.bottom-left {
				-webkit-transform: translate(0, 0);
				transform: translate(0, 0);
				opacity: 1;
			}
			.bottom-right {
				-webkit-transform: translate(0, 0);
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
}
figure.mainphoto.hover {
	img {
		opacity: 0.6;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	figcaption {
		.bottom-left {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			opacity: 1;
		}
		.bottom-right {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
			opacity: 1;
		}
	}
}

/* Btns */

	.btns-main {
		letter-spacing: 0;
	}

	.btns-main:hover,
	.btns-main:active {
	letter-spacing: 5px;
	}

	.btns-main:after,
	.btns-main:before {
	backface-visibility: hidden;
	border: 1px solid rgba(#fff, 0);
	bottom: 0px;
	content: " ";
	display: block;
	margin: 0 auto;
	position: relative;
	transition: all 280ms ease-in-out;
	width: 0;
	}

	.btns-main:hover:after,
	.btns-main:hover:before {
	backface-visibility: hidden;
	border-color: #fff;
	transition: width 350ms ease-in-out;
	width: 70%;
	}

	.btns-main:hover:before {
	bottom: auto;
	top: 0;
	width: 70%;
	}


/* Btns End */



/* Main Section End */

	/* News Section */
	.home-news{
		.news-title{
			font-family: 'Michroma', regular;
			color: black;
			font-size: 25px;			
		.dae-in-text{
			animation: fadeIn 9s;
		}
		}
		.home-news-p-text{
			font-family: 'Raleway', sans-serif;
			color: black;
			font-size: 20px;
		}
	}

	