$color_1: #ffffff;
$color-purple: #3c2572;
$font-family_1: 'Michroma', regular;

figure.home-photo {
	font-family: $font-family_1;
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 120px;
	max-width: 1250px;
	max-height: 920px;
	width: 100%;
	background: #000000;
	color: $color_1;
	text-align: center;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	* {
		box-sizing: border-box;
		box-sizing: border-box;
		transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	img {
		max-width: 100%;
		position: relative;
		opacity: 0.4;
	}
	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
        letter-spacing: .3rem;
	}
	h2 {
		position: absolute;
		left: 40px;
		right: 40px;
		display: inline-block;
		background: #000000;
		transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
		transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
		padding: 12px 5px;
		margin: 0;
		top: 50%;
		text-transform: uppercase;
		font-weight: 400;
		.sign{
		font-weight: 800;
		}
	}
	&:before {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		content: '';
		background: #ffffff;
		position: absolute;
		transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		transform: rotate(110deg) translateY(-50%);
		transform: rotate(110deg) translateY(-50%);
	}
	a {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: 1;
	}
	&:hover {
		img {
			opacity: 1;
			transform: scale(1.1);
			transform: scale(1.1);
		}
		h2 {
			transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
			transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
		}
		&:before {
			transform: rotate(110deg) translateY(-150%);
			transform: rotate(110deg) translateY(-150%);
		}
	}
}
figure.home-photo.purple {
	background: #4a2475bd;
	h2 {
		background: #321553cb;
	}
}
figure.home-photo.hover {
	img {
		opacity: 1;
		transform: scale(1.1);
		transform: scale(1.1);
	}
	h2 {
		transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
		transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
	}
	&:before {
		transform: rotate(110deg) translateY(-150%);
		transform: rotate(110deg) translateY(-150%);
	}
}

.home-news{
    h2{
        font-family: 'Michroma', regular;
    
    }
    .home-news-p-text{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
}