$font-family_1: 'Michroma', sans-serif;
$font-family_2: 'Raleway', sans-serif;


@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Main Section */


.main-photos {
	display: grid;
	grid-gap: 20px;
	padding: 40px;
	grid: 300px 300px / 1fr;
	@media (min-width: 700px) {
		grid: 400px 400px / 1fr 1fr;
	}
}
.image {
	border-radius:5px;
	background-color:#2d2d2d;
	background-size: cover;
	background-position: center center;
	position:relative;
	display: block;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		width: 104%;
		height: 104%;
		top: -2%;
		left: -2%;
		background: hsl(210, 80, 5);
		opacity: 0;
		transition: 300ms ease-in-out;
		transition-property: opacity;
		will-change: opacity;
	}
	.content {
		opacity: 0;
		transition: 300ms ease-in-out 100ms;
		transition-property: transform opacity;
		transform: translateY(15%);
		will-change: transform;
	}
	&:hover {
		cursor: pointer;
		.content {
			opacity: 1;
			transform: translateY(0%);
		}
		&:before {
			opacity: 0.6;
		}
	}
}

.content {
	color: white;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	.text {
		padding:20px;
	}
	.title {
		margin: 0 0 10px 0;
		font-weight: 300;
		font-size: 1.5em;
		max-width: 300px;
	}
	.name{opacity:0.8}
}



/* Main Section End */

	/* News Section */
	.home-news{
		.news-title{
			font-family: 'Michroma', regular;
			color: black;
			font-size: 25px;			
		.dae-in-text{
			animation: fadeIn 9s;
		}
		}
		.home-news-p-text{
			font-family: 'Raleway', sans-serif;
			color: black;
			font-size: 20px;
		}
	}





@mixin center($extend: true) {
    @if $extend {
        @extend %center;
    } @else {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

%center {
    @include center($extend: false);
}

	button{
	@include center;
	background: #333;
	color: #ccc;
	width: 200px;
	height: 60px;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	font-family: 'Michroma', regular;
	transition: .6s;
	overflow: hidden;
	&:focus{
		outline: 0;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		background: rgba(255,255,255,0.5);
		width: 60px;
		height: 100%;
		left: 0;
		top: 0;
		opacity: .5;
		filter: blur(30px);
		transform: translateX(-100px)  skewX(-15deg);
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		background: rgba(255,255,255,0.2);
		width: 30px;
		height: 100%;
		left: 30px;
		top: 0;
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100px) skewX(-15deg);
	}
	&:hover{
		background: #5a457ebf;
		cursor: pointer;
		&:before{
		transform: translateX(300px)  skewX(-15deg);  
		opacity: 0.6;
		transition: .7s;
		}
		&:after{
		transform: translateX(300px) skewX(-15deg);  
		opacity: 1;
		transition: .7s;
		}
	}
	}