$font-family_1: 'Michroma', sans-serif;

/* Music Videos */

.music-title {
	text-decoration-color: #ffffff;
	font-size: 25px;
	margin: 2.5rem 1rem;
	font-family: $font-family_1;
}
.responsiveContent {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.2%;
	margin-bottom: 20px;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}




/* Dance Photo Box */

$color_1: white;

.container {
	display: block;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	a {
		text-decoration: none;
	}
}
.small {
	height: 180px;
    width: 180px;
    object-fit: cover;
	height: auto;
	position: relative;
	margin: 3px;
	border-radius: 5px;
	&:hover {
		-webkit-transform: scale(1.05, 1.05);
		transform: scale(1.05, 1.05);
	}
}
.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 200px;
	height: 200px;
	background: rgba(0, 0, 0, 0.7);
	&:target {
		display: -webkit-box;
		display: flex;
        justify-content: center;
        max-width: 300px;
        max-height: 300px;
        
	}
}
a {
	div {
		justify-content: center;
        max-width: 300px;
        max-height: 300px;
        
	}
}


/* Dance Photo Box End */