$font-family_1: 'Michroma', sans-serif;

.upcomingEvents-title {
	text-decoration-color: #ffffff;
	font-size: 25px;
	margin: 2.5rem 1rem;
	font-family: $font-family_1;
}
.upcomingEvents-p-text{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    max-width: 70%;
}